* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;

  font-size: 18px;
  margin: 0;
  background-color: #ffc107;
  color: #2c2c2c;
}
.header,
.intro {
  background: linear-gradient(70deg, black, white);
}

.titulo,
.titulo2 {
  display: none;
}
.titulo3 {
  display: flex;
  margin-bottom: 100px;
  margin-left: 50px;
  color: #ffc107;
  font-size: 48px;
}

.portfolio {
  width: 375px;
}

@media (min-width: 900px) {
  .portfolio {
    width: 100%;
    display: block;
  }
}
.portfolio-title {
  font-size: 38px;
  margin: 40px 0 0 0;
  text-align: center;
}
.portfolio-description {
  font-size: 24px;
  margin: 7px 0 0 0;
  text-align: center;
}
.portfolio-content {
  margin-top: 20px;
  padding: 40px;
  display: grid;
  gap: 40px;
}
@media (min-width: 900px) {
  .portfolio-content {
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.portfolio-card {
  border: solid 2px black;
  border-radius: 4px;
}

.portfolio-img {
  object-fit: cover;
  height: 200px;
  width: 200px;

  margin-left: 45px;
}
@media (min-width: 960px) {
  .portfolio-img {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.portfolio-card-content {
  padding: 20px;
}
.portfolio-card-title {
  font-size: 30px;
  margin: 0;
}
.portfolio-card-text {
  margin: 0;
}
.portfolio-card-link {
  color: #51aff3;
  text-decoration: none;
  text-align: right;
  display: block;
  margin-top: 20px;
}
.logon {
  display: block;
  width: 77px;
  height: 71px;
  margin: 53px 16px 0 16px;
}
@media (min-width: 990px) {
  .logon {
    width: 112px;
    height: 103px;
    margin-left: 80px;
    margin-top: 0;
  }
}
.logo2 {
  display: none;
}
.titulo3 {
  padding-bottom: 40px;
}
